/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-dic-2016, 10:10:01
    Author     : franciscocr
*/

#contenedor{
    margin-left: auto ;
    margin-right: auto ;
    height:100%;
    width:700px;
    min-width:700px;
    background-color: #edf3fc;
}

#principal{
    margin-top: 100px;
    height: 100%;
    width: 100%;
}

body{
    background-color: #deefc9;
    margin:0;
    background-size:auto;
    color: green;
}

table, td, tr{
    border:1px solid black;
    margin-left: 140px;
    border-collapse: collapse;
    margin-bottom: 50px;
    background-color: #f9f9f9;
}

img{
    width: 50px;
    height: 50px;
}


button{
    display: block;
    margin: 0 auto;
}

#censoA{
    margin-left: 45%;
}

#escrutinioA{
    margin-left: 45%;    
}
